<div th:fragment="footer">
    <footer class="ftco-footer ftco-section">
        <div class="container">
            <div class="row mb-5">
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">Sầu Ngon Nhà Trồng</h2>
                        <p>Nếm thử sầu riêng, cảm nhận sự khác biệt!</p>
                        <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
                            <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                            <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                            <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4 ml-md-5">
                        <h2 class="ftco-heading-2">Menu</h2>
                        <ul class="list-unstyled">
                            <li><a href="/Store" class="py-2 d-block">Cửa hàng</a></li>
                            <li><a href="/AboutUS" class="py-2 d-block">Về chúng tôi</a></li>
                            <li><a href="/Contact" class="py-2 d-block">Liên hệ với chúng tôi</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">Trợ giúp</h2>
                        <div class="d-flex">
                            <ul class="list-unstyled mr-l-5 pr-l-3 mr-4">
                                <li><a href="#" class="py-2 d-block">Thông tin vận chuyển</a></li>
                                <li><a href="/Help/Return" class="py-2 d-block">Đổi trả</a></li>
                                <li><a href="/Help/Term" class="py-2 d-block">Điều khoản & Điều kiện</a></li>
                                <li><a href="/Help/Privacy" class="py-2 d-block">Chính sách bảo mật</a></li>
                            </ul>
                            <ul class="list-unstyled">
                                <li><a href="#" class="py-2 d-block">Câu hỏi thường gặp</a></li>
                                <li><a href="/Contact" class="py-2 d-block">Liên hệ</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">Bạn có câu hỏi nào không?</h2>
                        <div class="block-23 mb-3">
                            <ul>
                                <li><span class="icon icon-map-marker"></span><span class="text">Trường Đại Học FPT Hà Nội</span></li>
                                <li><a href="#"><span class="icon icon-phone"></span><span class="text">093.678.3615</span></a></li>
                                <li><a href="#"><span class="text">091.201.9495</span></a></li>
                                <li><a href="#"><span class="icon icon-envelope"></span><span class="text">Durianan2709@gmail.com</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>
